@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

body{
  background-color: #B8A3D0;
  font-family: 'Space Grotesk', sans-serif;
}
.App{
  display:flex;
  flex-direction:row;
  width:100vw;
  height:100vh;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}
.editor-wrapper, .preview-wrapper{
  height:90%;
  width:40%;
  margin:0;
  top:0;
  padding:0% 2.5%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: top;
  overflow:hidden;
}

.header{
  width:100%;
  color:#4CF4F1;
  padding:0;
  margin:0;
  top:0;
  font-size:2em;
  font-size:700;
  font-family: 'Space Grotesk', sans-serif;
  position:relative;
  margin-bottom:1em;
}

.header:after{
  content:' ';
  width:100%;
  position:absolute;
  bottom:-0.6em;
  left:0;
  height:0.5em;
  background-color:#4CF4F1;
}
#editor, #preview{
  background-color:transparent;
  border:none;
  width:100%;
  height:100%;
  overflow-y:auto;
}

#preview img{
  width:100%;
}
#editor{
  font-family: 'Space Mono', monospace;
}
